venv
.idea/misc.xml
data/credits.csv
data/keywords.csv
data/links.csv
data/links_small.csv
data/movies_metadata.csv
data/ratings.csv
data/ratings_small.csv
.idea/
__pycache__/gui.cpython-37.pyc
__pycache__/main.cpython-37.pyc
.idea/IntelligentBetting.iml
.idea/IntelligentBetting.iml
.idea/misc.xml

.ipynb_checkpoints/

data/user/

Untitled.ipynb
